*pyc

# documentation artifacts
html/*
!html/HTML_DOCS_WILL_BE_GENERATED_HERE
pdf/*
!pdf/PDF_WILL_BE_GENERATED_HERE

# jupyter-book build artifacts
src/_build/

# otherwise CI thinks index not clean
*.resolved

venv/

# mac
.DS_Store
